<fluent-card class="button-banner">
    <div class="button-container">
        <fluent-button appearance="outline"><i class="fa-solid fa-play" slot="start"></i>Start</fluent-button>
        <fluent-button appearance="outline"><i class="fa-solid fa-pause" slot="start"></i>Stop</fluent-button>
        <fluent-button appearance="outline"><i class="fa-solid fa-rotate-left" slot="start"></i>Restart</fluent-button>
    </div>
</fluent-card>

@code {

}
