@page "/"
@using Microsoft.Fast.Components.FluentUI
@using Dashboard.Client.Components

<PageTitle>Index</PageTitle>

<fluent-card class="main-page">
    <div class="main-container">
        <h1 id="title">Telemetry Dashboard</h1>
        <div id="btn-container">
            <a href="/telemetrylive"><fluent-button class="btns" appearance="outline">Live</fluent-button></a>
            <a href="/telemetryhistorical"><fluent-button class="btns" appearance="outline">Historical</fluent-button></a>
        </div>
    </div>
</fluent-card>
