@page "/telemetrylive"
@using Microsoft.Fast.Components.FluentUI
@using Dashboard.Client.Components

<PageTitle>Live Telemetry</PageTitle>
<div class="telemetry-container">
    <ButtonBanner />
    <TelemetryDashboard />
    <ParameterList />
    <TelemetryLog />
</div>