@page "/telemetrylive"
@using Microsoft.Fast.Components.FluentUI
@using Dashboard.Client.Components
@using Dashboard.Shared.GrpcProto
@using Grpc.Core
@using Dashboard.Client.Enums
@using Dashboard.Client.Services
@using Dashboard.Shared.Models
@using System.Text.Json;


@inject IJSRuntime JsRuntime
@inject TelemetryData.TelemetryDataClient TelemetryClient


<PageTitle>Live Telemetry</PageTitle>
<div class="telemetry-container">
    <ButtonBanner OnStartClicked="StartClicked" OnStopClicked="StopClicked" OnStartRecordClicked="StartRecordingClicked" OnStopRecordClicked="StopRecordingClicked"/>
    <TelemetryDashboard @ref="dashboard" />
    <ParameterList Connection="connection" Recording="recording" OnAddFakeDataLogs="AddFakeDataLogsClicked" OnClearFakeDataLogs="ClearFakeDataLogsClicked" OnAddFakeDataPoints="AddFakeDataPointsClicked"
       OnClearFakeDataPoints="ClearFakeDataPointsClicked" />
    <TelemetryLog @ref="log" />
</div>

@code {
    AsyncServerStreamingCall<Data>? stream;
    HashSet<string>? parameters = new HashSet<string>();

    TelemetryDashboard? dashboard;
    TelemetryLog? log;

    ConnectionStatus connection = ConnectionStatus.Disconnected;
    RecordingStatus recording = RecordingStatus.NotRecoding;

    // Need to clean this code. More consistent types etc. 
    // There is a bug when the stream is stopped and started again, nothing happens and it needs to be started/stopped multiple times for data to start going through
    // again.

    // Parameter names need to be fixed, where the parameter name and units are shown nicer.

    // Need to figure out what to do with ParameterList section.
    // Need to do Log section.

    // gRPC needs to be removed from server side and its easier to just use it straight from the client.
    // CORS needs to be sorted properly.
    public async Task StartClicked()
    {
        try
        {
            using (stream = TelemetryClient.OpenTelemetryStream(new Google.Protobuf.WellKnownTypes.Empty()))
            {
                connection = ConnectionStatus.Connecting;
                await foreach(var response in stream.ResponseStream.ReadAllAsync())
                {
                    connection = ConnectionStatus.Connected;
                    // gRPC server has already ensured the messages are in the right format.
                    Console.WriteLine($"Parameter: {response.Parameter} | Unit: {response.Unit} | Value: {response.Value} | Timestamp: {response.Timestamp}");

                    // Pass response to Chart Service to have it displayed.
                    Parameter p = new Parameter(response.Parameter + response.Unit, 1, "rgb(255, 0, 0)", "rgba(255, 0, 0, 1)");
                    DateTimeOffset time = DateTimeOffset.Parse(response.Timestamp);
                    ParameterData pd = new ParameterData(response.Value, time.ToUnixTimeMilliseconds());

                    // Handle if its a log message
                    if (response.Unit.Equals("log"))
                    {

                        continue;
                    }

                    // Checking label isnt the best but itll work. Having a HashSet<Parameter> doesnt work with contains as it seems like its checking object references
                    // insead of the members of the object.
                    if (!parameters.Contains(p.Label))
                    {
                        parameters.Add(p.Label);
                        await ChartService.AddParameter(JsonSerializer.Serialize(p), JsRuntime);
                    }

                    // Unlike Parameter, ParameterData doesnt need to be serialised before its passsed into the JS function. This should be more consistent.
                    await ChartService.AddParameterData(p.Label ,pd, JsRuntime);
                }
            }
        } catch(Grpc.Core.RpcException ex) when (ex.StatusCode == StatusCode.Cancelled)
        {
            connection = ConnectionStatus.Disconnected;
            Console.WriteLine("Stream cancelled");
        }
        catch (Exception ex) { connection = ConnectionStatus.Disconnected; }
    }

    public void StopClicked()
    {
        connection = ConnectionStatus.Disconnected;
        stream?.Dispose();
    }

    public void StartRecordingClicked()
    {
        recording = RecordingStatus.Recording;
    }

    public void StopRecordingClicked()
    {
        recording = RecordingStatus.NotRecoding;
    }

    public void AddFakeDataLogsClicked()
    {
        log?.addFakeLogs();
    }

    public void ClearFakeDataLogsClicked()
    {
        log?.clearLogs();
    }

    public void AddFakeDataPointsClicked()
    {

        dashboard?.AddFakeDataPoints();
    }

    public void ClearFakeDataPointsClicked()
    {
        dashboard?.ClearDataPoints();
    }
}